body{
    margin: 0;
    background-color: #787878;
}

#login_form {
    
    margin: auto;
    margin-top: 150px;
    width: 500px;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    background-image: url('/static/img/logo.gif');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 200px;
}
#login_form input {
    border: 1px solid #787878;
    border-radius: 4px;
    width: 180px;
    height: 30px;
    font-size: 1.2em;
    font-family: Arial;
    color: #787878;
}
#login_form #error_msg {
    color: red;

}
